* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: blue;
}



h1 {
    line-height: 100px;
}

header {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: white;
    align-items: center;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 600px;
    height: 600px;
    border: 10px solid rgb(43, 37, 37);
    border-radius: 30px;
    padding: 6px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 0 0 15px 5px black;
}


#grid .cell {
    border: 2px solid black;
    cursor: pointer;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


#grid .click-cell {
    background-color: azure;
}