* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.box-play {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

#difficulty {
  width: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#play {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgb(224, 224, 224);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

#play:hover {
  background-color: lightgrey;
}

#clicca {
  text-align: center;
  font-size: x-large;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 555px;
  height: 555px;
  padding: 15px;
}

#grid .cell {
  border: 1px solid #87839f;
  cursor: pointer;
  background-color: white;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

#grid .cell.click-cell {
  background-color: rgb(198, 198, 210);
}

#grid .cell.cell-bomb {
  background-color: red;
}

#grid .cell.cell-disable {
  cursor: not-allowed;
}

.message {
  color: red;
  text-align: center;
  font-size: 45px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  #grid {
    width: 100%;
    height: 336px;
  }
}
